#!/sbin/openrc-run

name="x-ui"

command="nohup /app/x-ui >/dev/null 2>&1 &"

command_background="yes"

description="Custom service for ${name}"

depend() {
    need net
    after sshd
}

start_pre() {
    ebegin "Preparing to start ${name}"
    eend $?
}

start() {
    ebegin "Starting ${name}"
    start-stop-daemon --start --exec ${command}
    eend $?
}

stop() {
    ebegin "Stopping ${name}"
    start-stop-daemon --stop --exec ${command}
    eend $?
}

restart() {
    ebegin "Restarting ${name}"
    start-stop-daemon --stop --exec ${command}
    sleep 1
    start-stop-daemon --start --exec ${command}
    eend $?
}
